.date-picker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.date-picker-actions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.date-picker-quick-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}
