.create-expense-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    mat-form-field {
      width: 100%;
    }

    .button-container {
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      margin-top: 16px;
    }
  }
}

.creation-date-picker .mat-calendar-period-button {
  pointer-events: none;
}

.creation-date-picker .mat-calendar-arrow {
  display: none;
}
